<!-- $Id: donations_donors.html,v 1.4 2004/10/15 17:58:57 blackdeath_csmc Exp $ -->
<table class="outer" style="width: 100%;">
    <tr class="head">
        <td style="text-align: left;"><{$block.name}></td>
        <{if $block.showamt}>
        <td style="width: 2px;">&nbsp;</td>
        <td style="width: 55px; text-align: left;"><{$block.amount}></td>
        <{/if}> <{if $block.showdate}>
        <td style="width: 2px;">&nbsp;</td>
        <td style="text-align: left;"><{$block.date}></td>
        <{/if}>
    </tr>
    <{$block.list}>
</table>
