<{$encodage_xml}>
<html>

<head>
<{include file="$her_header"}>
</head>

<body>

<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td class='even' width="100%" colspan="1">
      <p align="center"><{$top}></p>
    </td>
  </tr>
  <tr>
    <td class='even' width="40%"><{$b2_middle}></td>    

  </tr>
  <tr>
    <td class='footer' width="100%" colspan="1">
      <p align="center"><{$g1_bottom}></p>
    </td>
  </tr>
</table>

<{include file="$her_footer"}>
</body>

</html>
