<{$toolbar}>
<{$css}>
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadgallery/bubble.css" />
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/bubble-tooltip.js"></script>
<div id="bubble_tooltip">
<div class="bubble_top"><span></span></div>
<div class="bubble_middle"><span id="bubble_tooltip_content"></span></div>
<div class="bubble_bottom"></div>
</div>
<div style="width:100%;">
	<dl class="bot_rgt">
		<dt><div><{$author_option}><{$cate_option}> <{$show_3d_button}><{$show_shadowbox_button}><{$slideshow_button}><{$PicLens_button}></div></dt>
		<dd>
		<p><{$data}></p>
		<p align="center" style="color:white;background-color:#AAAAAA;clear:both;"><{$bar}></p>
		</dd>
	</dl>
</div>
<p style="clear:both;"></p>
