<table class="outer">
	<tr>
		<td class="head" style="text-align:center;"><{$lang.delproject1}> <b><{$data.name}></b> <{$lang.delproject2}>?</td>
	</tr>
	<tr>
		<td class="even" style="text-align:center;"><div class="errorMsg"><{$lang.delwarning}></div></td>
	</tr>
	<tr>
		<td style="text-align:center;" class="foot">
			<a href="?op=listprojects&amp;subop=deleteproject&amp;project_id=<{$data.project_id}>">[<{$lang.yes|upper}>]</a> :: <a href="?op=listprojects">[<{$lang.no|upper}>]</a>
		</td>
	</tr>
</table>