<div class="page_headline"><span class="itemTitle"><{$smarty.const._XO_LA_XOOPSFAQ}></span></div>
<br />
<table width="100%" cellpadding="2" cellspacing="1">
  <tr>
    <th><{$smarty.const._XO_LA_TOC}></th>
  </tr>
  <tr>
    <td class="even">
      <!-- start category loop -->
      <{foreach item=category from=$categories}>&nbsp;&nbsp;<img class="page_image" src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/folder.png" width="22" height="22" border="0" alt="<{$category.name}>" title="<{$category.name}>"/>&nbsp;<strong><a href="index.php?cat_id=<{$category.id}>"><{$category.name}></a></strong>
        <ul>
        <!-- start question loop -->
        <{foreach item=question from=$category.questions}>
          <li class="limagei">&nbsp;<a href="index.php?cat_id=<{$category.id}>#q<{$question.link}>"><{$question.title}></a></li>
        <{/foreach}>
        <!-- end question loop -->
        </ul>
      <{/foreach}>
      <!-- end category loop -->
    </td>
  </tr>
</table>