<div class="page_headline"><span class="itemTitle"><{$smarty.const._XO_LA_XOOPSFAQ}></span></div>
<br />
<a id="top" name="top"><a href="index.php"><{$smarty.const._XO_LA_MAIN}></a>&nbsp;<span style="font-weight:bold;">&raquo;&raquo;</span>&nbsp;<b><{$category_name}></b><br /><br />
<table width="100%" class="outer" cellspacing="1">
  <tr>
    <th colspan="2"><{$smarty.const._XO_LA_TOC}></th>
  </tr>
  <tr>
    <td colspan="2" class="even">
      <ul style="list-style-image:url(images/question.gif);">
      <!-- start question loop -->
      <{foreach item=question from=$questions}>
        <li>&nbsp;<a href="#q<{$question.id}>"><{$question.title}></a></li>
      <{/foreach}>
      <!-- end question loop -->
      </ul>
    </td>
  </tr>
</table>
<br /><br />

<table width="100%" class="outer" cellspacing="1">
<!-- start question and answer loop -->
<{foreach item=question from=$questions}>
  <tr>
    <th><a id="q<{$question.id}>" name="q<{$question.id}>"></a><{$question.title}></th>
  </tr>
  <tr>
    <td class="even"><{$question.answer}><div style="text-align: right"><a href="#top"><{$smarty.const._XO_LA_BACKTOTOP}></a></div></td>
  </tr>
<{/foreach}>
<!-- end question and answer loop -->
</table>
<br /><br />
<div style="text-align:center;"><b>[ <a href="index.php"><{$smarty.const._XO_LA_BACKTOINDEX}></a> ]</b></div>

<div style="text-align:center; padding: 3px; margin:3px;">
  <{$commentsnav}>
  <{$lang_notice}><{$smarty.const._XO_LA_BACKTOINDEX}>
</div>

<div style="margin:3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>