<tr>

     <td width="50px"  class="odd" style="text-align:right"  >
          <{$archive.idLettre}>/<{$archive.idArchive}> 
    </td>

     <td width="100px"  class="even" style="text-align:left"  >
          <{$archive.dateCourte}> 
    </td>

    <td width="250px"  class="odd" style="text-align:left"  >
          <{$archive.link}> 
    </td>
    
    <td class="even" style="text-align:left">
        <{$archive.libelle}>
    </td>
    
    <td class="even" style="text-align:center">
        <{$archive.envois}>
    </td>
    
    <td class="even" style="text-align:center">
        <{$archive.moyenne}>
    </td>
    
</tr>  



 