<script type="text/javascript" src="<{$pathToolsJS}>"></script>


    <div class="itemHead">
      <span class="itemTitle">
          <{$textintro}><br>
      </span>
    </div>





<table width="100%" cellspacing="0" class="outer">
  <tr>
    <th style='text-align = left' width = '30%'>
      <{$smarty.const._MD_HER_LETTER}> : <{$listLettres}>
    </th>
    <th style='text-align = left' >
      <{$listArchives}>      
      <!--<{$smarty.const._MD_HER_LETTER}> : <{$lettre.libelle}>-->
    </th>

  </tr>
  
  <tr>
    <td class="even" style="padding:10px 10px 10px 10px;" colspan='2'><{$lettre.description}></td>
  </tr>

</table>



<{$archiveTexte}>
<!--
-->


